#root {
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  color: black;
}

.main__container {
  width: 100%;
  background-color: rgb(233, 233, 233);
  height: 100%;
}

table,
th,
td {
  border: 2px solid white;
}
